.search {
   padding: 23px;
   padding-top: 0;
   position: relative;
   ion-input {
       border-radius: 23px;
       height: 59px;
       background: #eeee;
       --padding-start: 30px;
   }
   i {
       position: absolute;
       top: 7px;
       right: 31px;
       z-index: 2;
       background: forestgreen;
       color: #fff;
       padding: 15px;
       font-size: 1rem;
       border-radius: 17px;
   }
}