  <ion-header class="ion-no-border">
  <ion-item lines="none" color="primary">
    <ion-avatar slot="start">
      <img src="assets/No.1.png"[translucent]="true">
    </ion-avatar>
    <ion-label>
      <h2>สำนักงานศึกษาธิการจังหวัดอุบลราชธานี</h2>
    </ion-label>
  </ion-item>
</ion-header>
<br>

 
<ion-content [fullscreen]="true">

  <ion-toolbar>
        <ion-searchbar debounce="500" (ionInput)="FilterJSONData($event)"></ion-searchbar>
  </ion-toolbar>



  <ion-list>
    <ion-item  *ngFor="let item of jsonData ">
      <!-- <ion-item (click) = "selectVal(item)" *ngFor="let item of jsonData "></ion-item> -->
      <ion-avatar slot="start">
        <img [src]="item.DisplayPicture" />
      </ion-avatar>
      <ion-label>{{item.Name}}</ion-label>
      <ion-button color="primary" slot="end" (click)="schoolp1(item)"> View</ion-button>
    </ion-item>
  </ion-list>


</ion-content>


<ion-tab-bar>
  <ion-tab-button tab="map" routerLink="/home">
    <ion-icon name="map"></ion-icon>
    <ion-label>Map</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="add">
    <ion-button>
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-tab-button>

  <ion-tab-button tab="school" routerLink="/add-school">
    <ion-icon name="school"></ion-icon>
    <ion-label>School</ion-label>
  </ion-tab-button>
</ion-tab-bar>
